name: Deploy or Rollback
on:
  release:
    types:
      - published
      - deleted
  workflow_dispatch:

jobs:
  run-tests:
    uses: benforleo/fred-data-extractor/.github/workflows/tests.yaml@main

  aws-deployment:
    name: Deploy CDK App
    runs-on: ubuntu-latest
    environment: development
    needs:
      - run-tests
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-oidc
          aws-region: us-east-1

      - uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'
      - name: Install AWS CDK
        run: npm install -g aws-cdk@latest

      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install Python dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Deploy CDK Application
        run: cdk deploy --require-approval never --tags app=fred-data-extractor
        env:
          FRED_BUCKET_NAME: ${{ secrets.FRED_BUCKET_NAME }}

